*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
 

  .content{
    padding: 9px;
    background-color: rgb(134, 134, 134);
    display:flex;
    align-items:end;
    justify-content:space-around;
    align-items: flex-start;
    flex-direction:row;
    text-decoration: none;
  }
.box1{
  border: 2px solid  rgb(139, 134, 134);
  height: 30px;
  width: 80px;
  background-color:  rgb(139, 134, 134);
  border-radius: 10px;
  text-align:center;
  text-decoration: none;
}
.box2{
  border: 2px solid   rgb(139, 134, 134); 
  height: 30px;
  width: 80px;
  background-color:  rgb(139, 134, 134);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
.box3{
  border: 2px solid  rgb(139, 134, 134);
  height: 30px;
  width: 80px;
  background-color:  rgb(139, 134, 134);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
.box4{
  border: 2px solid rgb(139, 134, 134);
  height: 30px;
  width: 80px;
  background-color: rgb(139, 134, 134);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.pic-contener{
  width:;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: wrap;
 
  
}
.pic1{
  height: 400px;
  width: 250px;
  padding: 30px;

}
.pic2{
  height: 400px;
  width: 250px; 
  padding: 30px;

}
.pic3{
  height: 400px;
  width: 250px; 
  padding: 30px;
}
.pic4{
  height: 400px;
  width: 250px;
  padding: 30px;
}

.pic5{
  height: 400px;
  width: 250px; 
  padding: 30px;
}
.pic6{
  height: 400px;
  width: 250px; 
  padding: 30px;
}
.pic7{
  height: 400px;
  width: 250px; 
  padding: 30px;
  

}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tow{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.three{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.a{
  width: 0%;
  display: flex;

  
}
.b{
  width: 0%;
  display: flex;
  
}
.c{
  width: 0%;
  display: flex;
  
}
.d{
  width: 0%;
  display: flex;
  
}
.e{
  width: 0%;
  display: flex;
  
}
.f{
  width: 0%;
  display: flex;
  
}
.g{
  width: 0%;
  display: flex;
  align-self: start;
 
}

/*
.one{
  width: 20%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:end;

}
.tow{
  width: 20%;
  height:;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: end;
}
.three{
  width: 20%;
  height:;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: end;
}
.four{
  width: 20%;
  height:;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: end;
}
*/

 .tab{
  display: flex;
  justify-content: center;
  align-content:center;
  

} 
a :hover{
background-color: red;
}
.body{
  position: relative;
}


  @media screen and (max-width:1200px) {
    .pic-contener{
      width:100%;
    }
    
  }