*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.content{
    padding: 9px;
    background-color: #f9f5f5;
    display:flex;
    align-items:end;
    justify-content:space-around;
    align-items: flex-start;
    flex-direction:row;
    text-decoration: none;
}
.box1{
    border: 2px solid  rgb(139, 134, 134);
    height: 30px;
    width: 80px;
    background-color:  rgb(139, 134, 134);
    border-radius: 10px;
    text-align:center;
    text-decoration: none;
  }
  .box2{
    border: 2px solid  rgb(139, 134, 134);
    height: 30px;
    width: 80px;
    background-color: rgb(139, 134, 134); 
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
  }
  .box3{
    border: 2px solid  rgb(139, 134, 134);
    height: 30px;
    width: 80px;
    background-color:  rgb(139, 134, 134);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
  }
  .box4{
    border: 2px solid rgb(139, 134, 134);
    height: 30px;
    width: 80px;
    background-color: rgb(139, 134, 134);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
  }
  .p-img{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    justify-content: space-around;
    margin: 30px 30px;
    align-items: self-start;
  }
  .para{
    margin: 80px;
    border: 2px solid;
    width: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    
  }